<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<table>
  <tr>
    <th><%= sortable "name" %></th>
    <th>Health</th>
    <th>Region</th>
    <th>Description</th>
    <% if current_user.admin? %>
    <th></th>
    <th></th>
    <% end %>
  </tr>
  <% @enemies.each do |enemy| %>
  <tr>
    <td><%= link_to enemy.name.titleize, enemy %></td>
    <td><%= enemy.health %> / <%= enemy.max_health %></td>
    <td><%= link_to enemy.region.name.titleize, enemy.region %></td>
    <td><%= enemy.desc.blank? ? "No description" : enemy.desc.slice(0,20) %></td>
    <% if current_user.admin? %>
    <td>[ <%= link_to 'Edit', edit_enemy_path(enemy) %> ]</td>
    <td>[ <%= link_to 'Destroy', enemy, :confirm => 'Are you sure?', :method => :delete %> ]</td>
    <% end %>
  </tr>
  <% end %>
</table>
<%= will_paginate @enemies %>
