<h2><%= gravatar_for @user %>
<%= @user.name %></h2>
<% if @user.admin? %>
<p>
  <em>Administrator</em>
</p>
<% end %>
<% if current_user?(@user) %>
<p>
  <%= link_to 'Edit your account', edit_user_registration_path %>
</p>
<% end %>
<p>
  <b>Warband:</b>
</p>
<% if @warband.blank? %>
<p>
  <% if current_user?(@user) %>
  You don't have a warband yet. <%= link_to "Create one now!", new_warband_path %>
  <% else %>
  This user doesn't have a warband yet.
  <% end %>
</p>
<% else %>
<%= render @warband %>
<% end %>
<br />
<p>
  <%= link_to 'List of all users', users_path %>
</p>
