<h2><%= gravatar_for @user %>
<%= @user.name %></h2>
<p>
  <b>Status:</b>
  <%= @user.admin? ? "Administrator" : "User"%>
</p>
<p>
  Account created at
  <em><%= @user.created_at.to_s(:rfc822) %></em>
</p>
<% if current_user?(@user) %>
<p>
  <em>This is you!</em> <%= link_to 'Edit your account', edit_user_registration_path %>
</p>
<% end %>
<h3>Warband</h3>
<% if @warband.blank? %>
<p>
  <% if current_user?(@user) %>
  You don't have a warband yet. <%= link_to "Create one now!", new_warband_path %>
  <% else %>
  This user doesn't have a warband yet.
  <% end %>
</p>
<% else %>
<%= render @warband %>
<% end %>
<br />
<p>
  <%= link_to 'List of all users', users_path %>
</p>
