<h1><%= @user.name %></h1>
<%= gravatar_for @user %>
<p>
  <%= @user.email %>
</p>
<% if user_signed_in? and current_user == @user %>
<p>
  <%= link_to 'Edit account', edit_user_registration_path %>
</p>
<% end %>
<br />
<p>
  <%= link_to 'List of all users', users_path %>
</p>
