<li class="draggable" data-id="<%= draggable_item.id %>">
  <span class="title"><%= link_to draggable_item.name.titleize, draggable_item.template %></span><span class="combat_value"><%= draggable_item.combat_value %></span><br>
  <span class="desc"><%= draggable_item.desc %></span><span class="cost"><%= draggable_item.cost %></span><br>

  <!--<span class="type"><%= draggable_item.item_type %></span>-->
  
</li>
