<li>
  <b><%= link_to item.name.titleize, item.template %></b> - <%= item.desc %>
  <b>Combat Value</b>
  <%= item.combat_value %>
  <b>Item type</b>
  <%= item.item_type %>
  <b>Cost:</b>
  <%= item.cost %>
</li>
