<div class="battle enemy">
  <h2><%= enemy.name %></h2>
  <p>
    <b>Description:</b>
    <%= enemy.desc %>
  </p>
  <p>
    <b>Health:</b>
    <%= enemy.health %> / <%= enemy.max_health %>
  </p>
  <h4>Items</h4>
  <% if enemy.items.empty? %>
  <p>
    This enemy doesn't have any items.
  </p>
  <% else %>
  <ul class="items">
    <%= render :partial => "shared/item", :collection => enemy.items %>
  </ul>
  <% end %>
  <p>
    <b>Total combat value:</b><%= enemy.combat_value %>
  </p>
</div>
