<div class="battle enemy">
  <h2><%= enemy.name %></h2>
  <p>
    <%= enemy.desc %>
  </p>
  <p>
    <b>Health:</b>
    <span class="health"><%= enemy.health %> / <%= enemy.max_health %></span>
  </p>
  <p>
    <b>Total combat value:</b>
    <span class="combat_value"><%= enemy.combat_value %></span>
  </p>
  <h3>Items</h3>
  <% if enemy.items.empty? %>
  <p>
    This enemy doesn't have any items.
  </p>
  <% else %>
  <ul class="items">
    <%= render :partial => "shared/item", :collection => enemy.items %>
  </ul>
  <p>
    <em>Your warband may obtain those items if winning the battle</em>
  </p>
  <% end %>
</div>
