<div id="battle_container">
  <h2><%= @title %></h2>
  <%= render 'battle/warband', :warband => @warband %>
  <div class="battle vs">
    VS
  </div>
  <%= render 'battle/enemy', :enemy => @enemy %>
</div>
<div class="clear">
</div>
<div id="battle_action">
  <div id="engage">
    <%= button_to "Engage in battle", battle_combat_path(:enemy_id => @enemy.id) %>
    <p>
      <em>Engage in battle!</em>
    </p>
  </div>
  <div id="flee">
    <%= button_to "Flee", map_path %>
    <p>
      <em>Return to the map</em>
    </p>
  </div>
</div>
