<%= form_for @news, :validate => true do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :title %>
</div>
<div class="field">
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :content %>
</div>
<div class="field">
  <%= f.text_area :content %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
