<article>
  <h3><%= link_to news_post.title.titleize, news_post %></h3>
  <p>
    <%= news_post.content %>
  </p>
  <p class="news-info">
    Posted by <%= gravatar_for(news_post.user, :size => 16) %> <%= link_to news_post.user.name, news_post.user %> at
    <em><%= news_post.created_at.to_s(:rfc822) %></em>.
    <% unless news_post.updated_at.blank? || news_post.updated_at == news_post.created_at %><br>
    Last updated at <em><%= news_post.updated_at.to_s(:rfc822) %></em>.
    <% end %>
  </p>
  <p>
    <%= link_to("View comments", news_path(news_post, :anchor => "disqus_thread")) %>
    <%= raw(disqus_comment_counts) %>
    <% if user_signed_in? && current_user.admin? %>
    | <%= link_to 'Edit', edit_news_path(news_post) %> |
    <%= link_to 'Destroy', news_post, :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </p>
</article>
<div class="clear">
</div>
