<h2><%= @title %></h2>
<%= form_tag news_index_path, :method => 'get', :id => "news_search" do %>
<p>
  <b>Title:</b>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
</p>
<div id="news">
  <%= render 'news' %>
</div>
<% end %>
<br />
<%= link_to_news_feed %>
<% if user_signed_in? && current_user.admin? %>
| <%= link_to 'New post', new_news_path %>
<% end %>
