<div class="push_1">
  &nbsp;
</div>
<div class="grid_3">
  <div id="home">
    <% if user_signed_in? %>
    <h1>Hi, <%= current_user.name %>!</h1>
    <p>
      <% if current_user.warband.blank? %>
      You don't have a warband yet. <%= link_to "Create one now!", new_warband_path %>
      <% else %>
      <%= link_to "Take me to my warband!", current_user.warband %>
      <% end %>
    </p>
    <% else %>
    <h1>Home</h1>
    <p>
      <%= link_to "Sign in", new_user_session_path %> or <%= link_to "Sign up now!", new_user_registration_path %>
    </p>
    <% end %>
  </div>
</div>
<%= render 'news/news_posts' %>
<div class="clear">
  &nbsp;
</div>
