<%= form_for @region, :validate => true do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :name %>
</div>
<div class="field">
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :pos_x %>
</div>
<div class="field">
  <%= f.text_field :pos_x %>
</div>
<div class="field">
  <%= f.label :pos_y %>
</div>
<div class="field">
  <%= f.text_field :pos_y %>
</div>
<div class="field">
  <%= f.label "Description" %>
</div>
<div class="field">
  <%= f.text_area :desc %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
