<h2><%= @title %></h2>
<p>
  <b>Pos x:</b>
  <%= @region.pos_x %>
</p>
<p>
  <b>Pos y:</b>
  <%= @region.pos_y %>
</p>
<p>
  <b>Description:</b>
  <%= @region.desc %>
</p>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_region_template_path(@region) %> |
<%= link_to 'Destroy', @region, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'List of all regions', region_templates_path %>
<br />
<%= raw(disqus_thread) %>
