<h2><%= @title %></h2>
<%= form_tag item_templates_path, :method => 'get', :id => "items_search" do %>
<p>
  <label>
    Search by name:
  </label>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
</p>
<div id="items">
  <%= render 'items' %>
</div>
<% end %>
<br />
<%= link_to 'Create new item', new_item_template_path if current_user.admin? %>
