<h2><%= @title %></h2>
<p>
  <%= @item.desc %>
</p>
<p>
  <b>Combat value:</b>
  <span class="combat_value"><%= @item.combat_value %></span>
</p>
<p>
  <b>Cost:</b>
  <span class="coins"><%= @item.cost %></span>
</p>
<br>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_item_template_path(@item) %> |
<%= link_to 'Destroy', @item, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'List of all items', item_templates_path %>
<br>
<%= raw(disqus_thread) %>
