<h2><%= @title %></h2>
<p>
  <b>Description:</b>
  <%= @item.desc %>
</p>
<p>
  <b>Cost:</b>
  <%= @item.cost %>
</p>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_item_template_path(@item) %> |
<%= link_to 'Destroy', @item, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'List of all items', item_templates_path %>
