<h2><%= @title %></h2>
<%= form_tag enemy_templates_path, :method => 'get', :id => "enemies_search" do %>
<p>
  <label>
    Search by name:
  </label>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
</p>
<div id="enemies">
  <%= render 'enemies' %>
</div>
<% end %>
<br />
<%= link_to 'Create new enemy', new_enemy_template_path if current_user.admin? %>
