<h2><%= @title %></h2>
<p>
  <b>Region:</b>
  <%= link_to @region.name, @region %>
</p>
<p>
  <b>Description:</b>
  <%= @enemy.desc %>
</p>
<p>
  <b>Max health:</b>
  <%= @enemy.max_health %>
</p>
<h3>Items</h3>
<% if @items.empty? %>
<p>
  This enemy doesn't have any items.
</p>
<% else %>
<ul class="items">
  <%= render :partial => "item_templates/item", :collection => @items %>
</ul>
<% end %>
<br />
<% if current_user.admin? %>
<%= link_to 'Edit', edit_enemy_template_path(@enemy) %> |
<%= link_to 'Destroy', @enemy, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'List of all enemies', enemy_templates_path %>
