<h2><%= @title %></h2>
<%= form_tag achievements_path, :method => 'get', :id => "achievements_search" do %>
<p>
  <label>
    Search by name:
  </label>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
</p>
<div id="achievements">
  <%= render 'achievements' %>
</div>
<% end %>
<br />
