<h2><%= @title %></h2>
<% if current_user.warband.achievements.include? @achievement %>
<p>
  <em>You have completed this achievement!</em>
</p>
<% end %>
<p>
  <%= @achievement.desc %>
</p>
<p>
  <b>Reputation gained:</b>
  <span class="reputation">+<%= @achievement.reputation %></span>
</p>
<%= link_to 'Show list of all achievements', achievements_path %>
<br>
<%= raw(disqus_thread) %>
