<%= form_for(@warband) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :name, "Warband name" %>
  <br />
  <%= f.text_field :name %>
</div>
<% @warband.members.each.with_index do |member, index| %>
<div class="field">
  <%= f.fields_for :members, member do |member_fields| %>
  <%= member_fields.label :name, "Member #{index+1}" %>
  <br />
  <%= member_fields.text_field :name %>
  <% end %>
</div>
<% end %>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
