<%= form_for(@warband) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :reputation %><br />
    <%= f.text_field :reputation %>
  </div>
  <div class="field">
    <%= f.label :pos_x %><br />
    <%= f.text_field :pos_x %>
  </div>
  <div class="field">
    <%= f.label :pos_y %><br />
    <%= f.text_field :pos_y %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
