<h2><%= @title %></h2>
<%= form_tag warbands_path, :method => 'get', :id => "warbands_search" do %>
<p>
  <label>
    Search by name:
  </label>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
</p>
<div id="warbands">
  <%= render 'warbands' %>
</div>
<% end %>
<br />
<% if current_user.warband.blank? %>
<p>
  You don't have a warband yet. <%= link_to "Create your own Warband now!", new_warband_path %>
</p>
<% end %>
