<h1><%= @title %></h1>
<table>
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "reputation" %></th>
    <th>Currently in region</th>
    <th></th>
    <% unless current_user.warband.blank? %>
    <th></th>
    <% end %>
  </tr>
  <% @warbands.each do |warband| %>
  <tr>
    <td><%= link_to warband.name, warband %></td>
    <td><%= warband.reputation %></td>
    <td><%= warband.region.name %></td>
    <% if current_user?(warband.user) %>
    <td>[<%= link_to 'Edit your warband', edit_warband_path(warband) %>]</td>
    <% end %>
  </tr>
  <% end %>
</table>
<br />
<% if current_user.warband.blank? %>
<p>
  You don't have a warband yet. <%= link_to "Create your own Warband now!", new_warband_path %>
</p>
<% end %>
