<h1><%= @warband.name %></h1>
<p>
  <b>Belongs to:</b>
  <%= gravatar_for(@user, :size => 32) %> <%= link_to @user.name, @user %>
</p>
<p>
  <b>Reputation:</b>
  <%= @warband.reputation %>
</p>
<p>
  <b>Currently in region:</b>
  <%= link_to @region.name, @region %>
</p>
<% if current_user?(@user) %>
<%= link_to 'Edit', edit_warband_path(@warband) %> |
<%= link_to 'Destroy', @warband, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'List of all warbands', warbands_path %>
<% if current_user.warband.blank? %>
<p>
  You don't have a warband yet. <%= link_to "Create your own Warband now!", new_warband_path %>
</p>
<% end %>
