<p>
  <b>Name:</b>
  <%= @warband.name %>
</p>

<p>
  <b>Reputation:</b>
  <%= @warband.reputation %>
</p>

<p>
  <b>Region:</b>
  <%= @warband.region.name %>
</p>


<%= link_to 'Edit', edit_warband_path(@warband) %> |
<%= link_to 'Back', warbands_path %>
