<footer>
  <nav>
    <ul>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "News", news_index_path %>
      </li>
      <li>
        <%= link_to "About", about_path %>
      </li>
      <li>
        <%= link_to "Contact", contact_path %>
      </li>
      <li>
        <%= link_to "Help", help_path %>
      </li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li>
        <%= link_to "Users", users_path %>
      </li>
      <li>
        <%= link_to "Warbands", warbands_path %>
      </li>
      <li>
        <%= link_to "Members", members_path %>
      </li>
      <li>
        <%= link_to "Achievements", achievements_path %>
      </li>
      <li>
        <%= link_to "Regions", region_templates_path %>
      </li>
      <li>
        <%= link_to "Enemies", enemy_templates_path %>
      </li>
      <li>
        <%= link_to "Items", item_templates_path %>
      </li>
    </ul>
  </nav>
  <!--Tech/validate
  <ul>
  <li>
  html5
  </li>
  <li>
  css3
  </li>
  </ul>-->
  <div id="footer-right">
    <p id="copyright-notes">
      <%= link_to app_title, root_path %> &copy; 2011
      <b>fpdt</b>
    </p>
    <div id="tweet-button">
      <%= tweet_button %>
    </div>
    <div id="like-button">
      <%= facebook_like_button %>
    </div>
  </div>
</footer>
<div class="clear">
  &nbsp;%
</div>
