<footer>
  <nav class="grid_2 alpha">
    <ul>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "News", news_index_path %>
      </li>
      <li>
        <%= link_to "About", about_path %>
      </li>
      <li>
        <%= link_to "Contact", contact_path %>
      </li>
      <li>
        <%= link_to "Help", help_path %>
      </li>
    </ul>
  </nav>
  <nav class="grid_2">
    <ul>
      <li>
        <%= link_to "Users", users_path %>
      </li>
      <li>
        <%= link_to "Warbands", warbands_path %>
      </li>
      <li>
        <%= link_to "Members", members_path %>
      </li>
      <li>
        <%= link_to "Items", item_templates_path %>
      </li>
      <li>
        <%= link_to "Regions", region_templates_path %>
      </li>
      <li>
        <%= link_to "Enemies", enemy_templates_path %>
      </li>
    </ul>
  </nav>
  <!--Tech/validate
  <ul>
    <li> 
    	html5 
    </li>
    <li>
      css3
    </li>
  </ul>-->
  <div class="grid_7 omega">
    <p>
      <%= link_to app_title, root_path %> &copy; 2011
      <b>fpdt</b>
    </p>
    <p>
    	<iframe src="http://www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=recommend&amp;colorscheme=dark&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
    </p>
  </div>
</footer>
<div class="clear">
  &nbsp;%
</div>
