<footer class="grid_12 alpha">
  <nav class="grid_2">
    <ul>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "News", news_index_path %>
      </li>
      <li>
        <%= link_to "About", about_path %>
      </li>
      <li>
        <%= link_to "Contact", contact_path %>
      </li>
      <li>
        <%= link_to "Help", help_path %>
      </li>
    </ul>
  </nav>
  <div class="grid_10">
	<p>This site is a project made for the course TDDD27 Advanced Webprogramming at LiU</p>
  </div>
  <div class="clear">&nbsp;%</div>
  <div class="grid_12">
  <p>
    <%= link_to app_title, root_path %> &copy; 2011
    <b>fpdt</b>
  </p>
  </div>

</footer>
<div class="clear">&nbsp;%</div>
