<div class="grid_3 alpha">
  <div id="my_warband">
    <% if user_signed_in? %>
    <% if current_user.warband.blank? %>
    <p>
      You don't have a warband yet. <%= link_to "Create one now!", new_warband_path %>
    </p>
    <% else %>
    <h2><%= current_user.warband.name %></h2>
    <% current_user.warband.members.each do |member| %>
    <h3><%= member.name %></h3>
    <span><%= member.health %> / <%= member.max_health %></span>
    <br />
    <span><%= member.experience %> / 100 </span>
    <% end %>
    <% end %>
    <% else %>
    <p>
      <%= link_to "Sign in", new_user_session_path %> or <%= link_to "Sign up now!", new_user_registration_path %>
    </p>
    <% end %>
  </div>
</div>
