<nav id="main-nav"  class="header">
  <ul>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <% if user_signed_in? %>
	    <li>
	      <% if current_user.warband.blank? %>
	      <%= link_to 'Warband', new_warband_path %>
	      <% else %>
	      <%= link_to 'Warband', current_user.warband %>
	      <% end %>
	    </li>
	    <li>
	      <%= link_to "Map", map_path %>
	    </li>
    <% else %>
	    <li>
	      <%= link_to "About", about_path %>
	    </li>
	    <li>
	      <%= link_to "Contact", contact_path %>
	    </li>
    <% end %>
	  <% if user_signed_in? %>
	    <li>
		    <%= gravatar_for current_user, :size => 16 %>
		    <strong><%= link_to current_user.name, current_user %></strong>
		    <%= link_to 'Sign out', destroy_user_session_path %>
		   </li>
	  <% else %>
	    <li>
	    	<%= link_to 'Sign in', new_user_session_path %>
	    </li>
	  <% end %>
  </ul>
</nav>
