<div id="user_info" class="grid_5 omega">
  <% if user_signed_in? %>
  <%= gravatar_for current_user, :size => 16 %>
  <b><%= link_to current_user.name, current_user %></b>
  <% if current_user.warband.blank? %>
  <%= link_to 'My warband', new_warband_path %>
  <% else %>
  <%= link_to 'My warband', current_user.warband %>
  <% end %>
  <%= link_to 'Edit account', edit_user_registration_path %>
  <%= link_to 'Sign out', destroy_user_session_path %>
  <% else %>
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
  <% end %>
</div>
<div class="clear">
  &nbsp;
</div>
