<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :defaults, "kinetic-v1.0.0.js" %>
    <%= yield(:head)%>
  </head>
  <body>
    <div id="container" class="container_12">
      <%= render 'layouts/header' %>

      <%= render 'layouts/nav' %>

      <section class="grid_12 alpha omega">
        <% flash.each do |key, value| %>
        <%= content_tag(:div, value, :class => "flash #{key}") %>
        <% end %>
        <%= render 'layouts/my_warband' if user_signed_in? and not current_user.warband.blank? %>
        <%= yield %>
      </section>
      <div class="clear">
        &nbsp;%
      </div>
      <%= render 'layouts/footer' %>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
