<li class="member">
  <b><%= link_to member.name, member %></b>
  <br />
  <b>Level:</b>
  <span class="level"><%= member.level %></span>
  <b>HP:</b>
  <span class="health"><%= member.health %>/<%= member.max_health %></span>
  <b>XP:</b>
  <span class="experience"><%= member.experience %>/<%= member.max_experience*member.level %></span>
</li>
