<h1>Listing members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th>Experience</th>
    <th>Health</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= member.level %></td>
    <td><%= member.experience %></td>
    <td><%= member.health %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
