<h2><%= @member.name %></h2>
<p>
  Member of <%= link_to @warband.name, @warband %> by <%= gravatar_for(@user, :size => 16) %> <%= link_to @user.name, @user %>
</p>
<p>
  <b>Level:</b>
  <b>
  <span class="level"><%= @member.level %></span>
  </b>
</p>
<p>
  <b>Health:</b>
  <span class="health"><%= @member.health %> / <%= @member.max_health %></span>
</p>
<p>
  <b>Experience:</b>
  <span class="experience"><%= @member.experience %> / <%= @member.max_experience*@member.level %></span>
</p>
<p>
  <b>Total combat value:</b>
  <span class="combat_value"><%= @member.calc_combat_value %></span>
</p>
<h3>Items</h3>
<% if @member.items.empty? %>
<p>
  This member doesn't have any items yet.
</p>
<% else %>
<ul class="items">
  <%= render :partial => "shared/item", :collection => @member.items %>
</ul>
<% end %>
<br />
<% unless current_user?(@member.warband.user) %>
<%= link_to 'Show list of all members', members_path %>
<% else %>
<%= link_to 'Show your warband page', current_user.warband %>
<% end %>

