<h2><%= @member.name %></h2>
<p>
  <b>Belongs to:</b>
  <%= link_to @warband.name, @warband %> of <%= gravatar_for(@user, :size => 16) %> <%= link_to @user.name, @user %>
</p>
<p>
  <b>Level:</b>
  <%= @member.level %>
</p>
<p>
  <b>Health:</b>
  <%= @member.health %> / <%= @member.max_health %>
</p>
<p>
  <b>Experience:</b>
  <%= @member.experience %>
</p>
<h3>Items</h3>
<% if @member.items.empty? %>
<p>
  This member doesn't have any items yet.
</p>
<% else %>
<ul class="items">
  <%= render :partial => "items/item", :collection => @member.items %>
</ul>
<% end %>
<br />
<% if current_user.admin? %>
<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Destroy', @member, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'List of all members', members_path %>

